<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="icon" href="/img/fav/favicon.ico" type="image">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/fav/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/fav/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/fav/favicon-16x16.png">

  <title>{% block title %}YaCut{% endblock %}</title>
</head>

<body>
  {% include "includes/header.html" %}

  <main>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="container mt-3">
        <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm">
            {% for message in messages %}
              <p><span style="color:red">{{ message }}</span></p>
            {% endfor %}
          </div>
          <div class="col-sm"></div>
        </div>
      </div>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</main>

  {% include "includes/footer.html" %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>